<div class="container" *ngFor="let data of character">
    <div class="box">
        <img [src]="data.img" alt="">
        <ul>
            <li>{{data.name}}</li>
            <li>{{data.birthday}}</li>
            <li>{{data.status}}</li>
        </ul>
    </div>
    <div class="about">
        <ul>
            <h1>About</h1>
        </ul>
        <ul>
            <h3>Nickname:</h3>
            <li>{{data.nickname}}</li>
        </ul>
        <ul>
            <h3>portrayed:</h3>
            <li>{{data.portrayed}}</li>
        </ul>
        <ul>
            <h3>Appearance:</h3>
            <li>{{data.appearance}}</li>
        </ul>
        <ul>
            <h3>Status:</h3>
            <li>{{data.status}}</li>
        </ul>
        <ul>
            <h3>Occupation:</h3>
            <li>{{data.occupation}}</li>
        </ul>

    </div>
</div>
